<div class="content-wrapper">
  <div class="page-header">
    <h4>{{ 'MOKHOASUKIEN' | translate }}</h4>
  </div>
  <mat-divider></mat-divider>
  <div class="filter-container" (keydown)="onFormSubmit($event)">
    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutGap.sm="0px">
      <mat-form-field fxFlex="30">
        <mat-label>{{ 'lblPhongBan' | translate }}</mat-label>
        <mat-extend-select required class="width" [items]="this.Orgs" [valueField]="'id'" [displayField]="'name'" [placeHolder]="'Phòng ban'"
          [(selectedModel)]="orgId" [applyPanelOverride]="true" style="max-height:50px;">
        </mat-extend-select>
        <input matInput style="display: none;" [(ngModel)]="orgId">
      </mat-form-field>

      <app-month-picker #monthFilter></app-month-picker>

      <mat-form-field fxFlex="10">
        <mat-label>{{ 'lblHoTenCB' | translate }}</mat-label>
        <!-- <mat-select placeholder="{{ 'lblTrangThai' | translate }}" [(ngModel)]="filter.empUserName">
          <mat-option [value]="null"> ----- Chọn -----</mat-option>
          <mat-option *ngFor="let item of userList" [value]="item.userName">{{item.name}}</mat-option>
        </mat-select> -->

        <mat-extend-select required class="width" [items]="userList" [valueField]="'userName'" [displayField]="'name'" [placeHolder]="'Phòng ban'"
          [(selectedModel)]="filter.empUserName" [applyPanelOverride]="true" style="max-height:50px;">
        </mat-extend-select>
        <input matInput style="display: none;" [(ngModel)]="filter.empUserName">
      </mat-form-field>
      <mat-form-field fxFlex="10">
        <mat-label>{{ 'lblQLTT' | translate }}</mat-label>
        <!-- <mat-select placeholder="{{ 'lblTrangThai' | translate }}" [(ngModel)]="filter.level1ManagerUserName">
          <mat-option [value]="null"> ----- Chọn -----</mat-option>
          <mat-option *ngFor="let item of level1MngList" [value]="item.userName">{{item.userFullName}}</mat-option>
        </mat-select> -->

        <mat-extend-select required class="width" [items]="level1MngList" [valueField]="'userName'" [displayField]="'userFullName'"
          [placeHolder]="'Phòng ban'" [(selectedModel)]="filter.level1ManagerUserName" [applyPanelOverride]="true" style="max-height:50px;">
        </mat-extend-select>
        <input matInput style="display: none;" [(ngModel)]="filter.level1ManagerUserName">
      </mat-form-field>
      <mat-form-field fxFlex="10">
        <mat-label>{{ 'lblHoTenQLCT' | translate }}</mat-label>
        <!-- <mat-select placeholder="{{ 'lblTrangThai' | translate }}" [(ngModel)]="filter.level2ManagerUserName">
          <mat-option [value]="null"> ----- Chọn -----</mat-option>
          <mat-option *ngFor="let item of level2MngList" [value]="item.userName">{{item.userFullName}}</mat-option>
        </mat-select> -->

        <mat-extend-select required class="width" [items]="level2MngList" [valueField]="'userName'" [displayField]="'userFullName'"
          [placeHolder]="'Phòng ban'" [(selectedModel)]="filter.level2ManagerUserName" [applyPanelOverride]="true" style="max-height:50px;">
        </mat-extend-select>
        <input matInput style="display: none;" [(ngModel)]="filter.level2ManagerUserName">
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn-xsm" fxFlex="10" (click)="searchPaging()"><mat-icon>search</mat-icon>{{
        'btnTimKiem' | translate }}</button>
      <button mat-raised-button color="primary" class="btn-xsm" fxFlex="12" style="margin-left: 5px" (click)="unlockKpiRange()"><mat-icon>lock_open</mat-icon>
        Mở khóa</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="table-container">
    <mat-table class="" [dataSource]="dataSource">
      <ng-container matColumnDef="isSelected">
        <mat-header-cell *matHeaderCellDef><input type="checkbox" (click)="checkAll($event.target.checked)"></mat-header-cell>
        <mat-cell *matCellDef='let item; let i = index;' class="centre"><input type="checkbox" [(ngModel)]="item.uiIsSelected"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="STT">
        <mat-header-cell *matHeaderCellDef>{{ 'colSTT' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item; let i = index;' class="centre">{{start + i}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="kpi-month">
        <mat-header-cell *matHeaderCellDef>{{ 'KYDANHGIA' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.kpiMonth | date:'MM/yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="organization">
        <mat-header-cell *matHeaderCellDef>{{ 'colPhongBan' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item'>{{item.organization}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee-name">
        <mat-header-cell *matHeaderCellDef>{{ 'colTenNV' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.employeeName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="level1ManagerFullName">
        <mat-header-cell *matHeaderCellDef>{{ 'lblQLTT' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.level1ManagerFullName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="level2ManagerFullName">
        <mat-header-cell *matHeaderCellDef>{{ 'lblHoTenQLCT' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.level2ManagerFullName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="statusName">
        <mat-header-cell *matHeaderCellDef>{{ 'lblTrangThai' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.statusName}}</mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'colThaoTac' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let item" class="centre">
            <a [routerLink]="['/hr/hr-kpi-complete-detail',item.id]">
              <mat-icon>edit_outline</mat-icon>
            </a>
          </mat-cell>
        </ng-container> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [length]="countTotal" [pageSize]="length" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>