<h4 mat-dialog-title>Đổi mật khẩu</h4>
<input type="password" hidden>
<div mat-dialog-content style="padding-top: 10px">
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex="100" appearance="standard">
      <mat-label>Tài khoản người dùng</mat-label>
      <input matInput type="text" [(ngModel)]="username" disabled>
    </mat-form-field>
  </div>
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex="100" appearance="standard">
      <mat-label>Mật khẩu cũ</mat-label>
      <input matInput type="password" [(ngModel)]="pwModel.oldPassword" autocomplete="new-password">
    </mat-form-field>
  </div>
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex="100" appearance="standard">
      <mat-label>Mật khẩu mới</mat-label>
      <input matInput type="password" [(ngModel)]="pwModel.password">
    </mat-form-field>
  </div>
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex="100" appearance="standard">
      <mat-label>Xác nhận mật khẩu mới</mat-label>
      <input matInput type="password" [(ngModel)]="pwModel.confirmPassword">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button color="primary" mat-button (click)="submit()">Ok</button>
  <button color="secondary" mat-button [mat-dialog-close]="true" >Cancel</button>
</div>