<div class="bg">
    <div class="slogan-bg">
        <div id="login-form">
            <form [formGroup]="form">
                <div class="container">
                    <div class="form-field" style="text-align: center; margin-bottom: 20px">
                        <h3>ĐĂNG NHẬP</h3>
                    </div>
                    <div class="form-field">
                        <label><i class="fa fa-user"></i><span style="padding-left: 5px;"><b>Tên đăng nhập*</b></span></label>
                        <input type="text" name="username" formControlName="username">
                    </div>
                    <div class="form-field">
                        <div><span style="font-size: 12px;padding-left: 5px;">Đối với người dùng email BRG, vui lòng chỉ nhập tên tài khoản, bỏ "@brggroup.vn"</span></div>
                        <label><i class="fa fa-lock"></i><span style="padding-left: 5px;"><b>Mật khẩu* </b></span></label>
                        <div><input type="password" name="password" formControlName="password"></div>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" class="regular-checkbox" id="remember" name="remember" />
                        <span></span>Nhớ mật khẩu
                    </label>
                    <div class="form-buttons">
                        <button class="button button-primary" (click)="login()">Đăng nhập</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>