<div class="content-wrapper">
  <div class="form-wrapper">
    <div class="page-header">
      <h5>Quản lý tiêu chuẩn đánh giá</h5>
    </div>
    <div flex fxLayout="row" fxLayoutGap="20px" *ngIf="item != null" class="formRow" style="margin-top: 35px;">
      <mat-form-field fxFlex="15">
        <mat-label>{{ 'MA' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.code" required>
      </mat-form-field>
      <mat-form-field fxFlex="10">
        <mat-label>{{ 'lblDiemToiThieu' | translate }}</mat-label>
        <input *ngIf="this.item.isMinus" matInput type="number" [(ngModel)]="minPointMinus" required max="-1" required
          oninput="validity.valid||(value='')">
        <input *ngIf="!this.item.isMinus" matInput type="number" [(ngModel)]="minPoint" required min="1" required
          oninput="validity.valid||(value='')">
      </mat-form-field>
      <mat-form-field fxFlex="10">
        <mat-label>{{ 'lblDiemToiDa' | translate }}</mat-label>
        <input *ngIf="this.item.isMinus" matInput type="number" [(ngModel)]="maxPointMinus" required max="-1" required
          oninput="validity.valid||(value='')">
        <input *ngIf="!this.item.isMinus" matInput type="number" [(ngModel)]="maxPoint" required min="1" required
          oninput="validity.valid||(value='')">
      </mat-form-field>
      <mat-form-field fxFlex="39">
        <mat-label>{{ 'lblTieuChuanCha' | translate }}</mat-label>
        <mat-extend-select [showTooltip]="false" required class="width" [items]="this.kpiCatalogs" [valueField]="'id'"
          [displayField]="'criterionTitle'" [(selectedModel)]="item.parentId" [applyPanelOverride]="true">
        </mat-extend-select>
        <input matInput style="display: none;" [(ngModel)]="item.parentId">
      </mat-form-field>
    </div>
    <div flex fxLayout="row" fxLayoutGap="10px" *ngIf="item != null" class="formRow">
      <mat-form-field fxFlex="59">
        <mat-label>{{ 'lblTieuDe' | translate }}</mat-label>
        <textarea matInput placeholder="{{ 'lblGhiChu' | translate }}" [(ngModel)]="item.criterionTitle" rows="4" required></textarea>
      </mat-form-field>
      <div fxFlex="10">
        <mat-checkbox name="chkIsFolder" class="example-margin" [(ngModel)]="item.isFolder">
          <span class="checkbox">Danh mục</span>
        </mat-checkbox>
      </div>
      <div fxFlex="10">
        <mat-checkbox name="chkIsMinus" class="example-margin" [(ngModel)]="item.isMinus">
          <span class="checkbox">{{ 'lblTruDiem' | translate }}</span>
        </mat-checkbox>
      </div>
    </div>
    <div flex fxLayout="row" fxLayoutGap="10px" *ngIf="item != null" class="formRow">
      <mat-form-field fxFlex="59">
        <mat-label>{{ 'lblTieuDeTiengAnh' | translate }}</mat-label>
        <textarea matInput placeholder="{{ 'lblGhiChu' | translate }}" [(ngModel)]="item.criterionTitleEn" rows="4"></textarea>
      </mat-form-field>
    </div>
    <div flex fxLayout="row">
      <div fxFlex="80"></div>
      <div fxFlex>
        <button mat-raised-button color="primary" (click)="addOrEdit()">{{ 'btnLuu' | translate }}</button>
        <a mat-raised-button color="warn" [routerLink]="['/hr/hr-crit-catalog',page]" style="margin-left: 10px;">{{ 'btnHuy' | translate }}</a>
      </div>
    </div>
  </div>
</div>