<div class="content-wrapper">
  <div class="page-header">
    <h5>Phân bổ E-Voucher - Danh sách ngân sách voucher</h5>
  </div>
  <h6>Thông tin tìm kiếm</h6>
  <div class="filter-container" (keydown)="onFormSubmit($event)">
    <div flex fxLayout="row" fxLayoutGap="10px" class="formRow">
      <mat-form-field fxFlex="15">
        <mat-label>Thời gian</mat-label>
        <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="filterDateFrom">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Thời gian</mat-label>
        <input matInput [matDatepicker]="pickerTo" [(ngModel)]="filterDateTo">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
      <!-- <mat-form-field fxFlex="50">
        <mat-label>Công ty</mat-label>
        <mat-select [(ngModel)]="filterCompanyId">
          <mat-option *ngFor="let comp of companies" [value]="comp.id">{{comp.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div flex fxLayout="row" fxLayoutGap="10px" class="formRow">
      <mat-form-field fxFlex="50">
        <mat-label>Trạng thái</mat-label>
        <mat-select [(ngModel)]="filterStatus">
          <mat-option *ngFor="let stat of status" [value]="stat.id">{{stat.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex fxLayout="row">
        <button mat-raised-button color="primary" (click)="find()" style="margin-right:10px">
          <mat-icon>search</mat-icon> {{ 'btnTimKiem' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div flex fxLayout="row" fxLayoutGap="30px" class="formRow" style="margin-top:20px;">
    <h6>Danh sách ngân sách</h6>
  </div>
  <div class="table-container">
    <mat-table class="" [dataSource]="dataSource">
      <ng-container matColumnDef="STT">
        <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
        <mat-cell *matCellDef='let item; let i = index;' class="centre">{{start + i}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="budgetDate">
        <mat-header-cell *matHeaderCellDef>Thời gian</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.budgetDate | date:'dd/MM/yyyy'}}</mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef>Công ty</mat-header-cell>
        <mat-cell *matCellDef='let item' class="left">{{item.companyName}}</mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="totalStaff">
        <mat-header-cell *matHeaderCellDef>Tổng nhân viên</mat-header-cell>
        <mat-cell *matCellDef='let item' class="left">
          {{item.totalStaff}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="budget">
        <mat-header-cell *matHeaderCellDef>Tổng ngân sách</mat-header-cell>
        <mat-cell *matCellDef='let item' class="left">
          {{item.budget | moneyFormat}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="statusName">
        <mat-header-cell *matHeaderCellDef>Trạng thái phân bổ</mat-header-cell>
        <mat-cell *matCellDef="let item" class="centre">
          {{item.statusName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Thao tác</mat-header-cell>
        <mat-cell *matCellDef="let item" class="centre">
          <a [routerLink]="['/ev-budget/ev-budget-dist',item.id]">
            <mat-icon color="warn">edit_outline</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [length]="countTotal" [pageSize]="length" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page"
    (page)="onPaginateChange($event)"></mat-paginator>
</div>