<h5>Thông báo</h5>
<div>
  <h6 style="text-align: center;">Lỗi: Một số dữ liệu không khớp!</h6>
  <div flex fxLayout="column" fxLayoutGap="0px" class="formRow">
    <div flex fxLayout="row">
      <div fxFlex="50" fxLayout="row">
        <span class="label">Thời gian:</span>
        <span class="data"><i>{{data.date | date:'dd/MM/yyyy'}}</i></span>
      </div>
    </div>
    <div flex fxLayout="row">
      <div fxFlex fxLayout="row">
        <span class="label">Công ty:</span>
        <span class="data"><i>{{data.company}}</i></span>
      </div>
    </div>
    <div flex fxLayout="row" fxLayoutGap="10px" class="formRow">
      <div fxFlex fxLayout="row">
        <span class="label">Tổng số nhân viên:</span>
        <span class="data"><i>{{data.totalStaff}}</i></span>
      </div>
      <div fxFlex fxLayout="row">
        <span class="label">Tổng số ngân sách:</span>
        <span class="data"><i>{{data.totalBudget | moneyFormat}}</i></span>
      </div>
    </div>
  </div>
  <h6 style="margin-top:10px;">Danh sách dữ liệu không khớp</h6>
  <div class="table-container">
    <mat-table class="" [dataSource]="dataSource">
      <ng-container matColumnDef="STT">
        <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
        <mat-cell *matCellDef='let item; let i = index;' class="centre">{{i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="codeUser">
        <mat-header-cell *matHeaderCellDef>Tên đăng nhập</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.data.codeUser}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nameUser">
        <mat-header-cell *matHeaderCellDef>Họ và tên nhân viên</mat-header-cell>
        <mat-cell *matCellDef='let item' class="left">{{item.data.nameUser}}</mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef>Chức danh</mat-header-cell>
        <mat-cell *matCellDef='let item' class="left">
          {{item.data.jobTitle}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="orgCompanyId">
        <mat-header-cell *matHeaderCellDef>Phòng ban</mat-header-cell>
        <mat-cell *matCellDef='let item' class="left">
          {{item.data.orgCompanyName}}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="budget">
        <mat-header-cell *matHeaderCellDef>Ngân sách voucher</mat-header-cell>
        <mat-cell *matCellDef="let item" class="centre">
          {{item.data.budget}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef>Lý do không khớp dữ liệu</mat-header-cell>
        <mat-cell *matCellDef="let item" class="centre">
          {{item.message}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
<div mat-dialog-actions style="margin-top: 15px;">
  <button mat-raised-button color="primary" (click)="okClick()" cdkFocusInitial>Đóng</button>
</div>