<div class="content-wrapper">
  <div class="page-header">
    <h4>Điều chuyển nhân sự</h4>
  </div>
  <mat-divider></mat-divider>
  <div class="filter-container" (keydown)="onFormSubmit($event)">
    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.sm="0px">
      <div fxFlex="20">
        <mat-form-field fxFlex="100">
          <mat-label>{{ 'lblHoTenCB' | translate }}</mat-label>
          <input matInput [(ngModel)]="empName">
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="20">
        <mat-label>{{ 'lblFromDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="pickerFromDate" [(ngModel)]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerFromDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{ 'lblToDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="pickerToDate" [(ngModel)]="toDate">
        <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerToDate></mat-datepicker>
      </mat-form-field>
      <div fxFlex="20">
        <button mat-raised-button color="primary" (click)="searchPaging()" style="margin-right:10px"><mat-icon>search</mat-icon>{{ 'btnTimKiem' | translate }}</button>
        <button mat-raised-button color="primary" [routerLink]="['/hr/hr-emp-transfer',0,page]"><mat-icon>add_circle_outline</mat-icon>{{ 'Addnew' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <mat-table class="" [dataSource]="dataSource">
      <ng-container matColumnDef="STT">
        <mat-header-cell *matHeaderCellDef>{{ 'colSTT' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item; let i = index;' class="centre">{{start + i}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef>Mã điều chuyển</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.code}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="transferDate">
        <mat-header-cell *matHeaderCellDef>Ngày điều chuyển</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.transferDate | date:'dd/MM/yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="userFullName">
        <mat-header-cell *matHeaderCellDef>{{ 'lblHTenNV' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.empFullName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="oldJobTitle">
        <mat-header-cell *matHeaderCellDef>{{ 'lblChucDanh' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.newJobTitleName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="oldOrg">
        <mat-header-cell *matHeaderCellDef>{{ 'lblPhongBan' | translate }} cũ</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.oldOrgName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="newOrg">
        <mat-header-cell *matHeaderCellDef>{{ 'lblPhongBan' | translate }} {{ 'moi' | translate }}</mat-header-cell>
        <mat-cell *matCellDef='let item' class="centre">{{item.newOrgName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>{{ 'colThaoTac' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item" class="centre">
          <!-- <button mat-icon-button>
            <mat-icon>edit_outline</mat-icon>
          </button> -->
          <a class="edit-icon" [routerLink]="['/hr/hr-emp-transfer',item.id,page]">
            <mat-icon>edit_outline</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [length]="countTotal" [pageSize]="length" [pageSizeOptions]="pageSizeOptions" [pageIndex]="page"
  (page)="onPaginateChange($event)"></mat-paginator>
</div>