<h4 mat-dialog-title> THÔNG BÁO NHẬP DỮ LIỆU NHÂN VIÊN</h4>
<h5 mat-dialog-title> Thông báo thành công: Hoàn thành nhập dữ liệu! </h5>
<div mat-dialog-content>
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex=34 style="padding: 15px;">
      <mat-label> Công ty </mat-label>
      <input matInput [(ngModel)]="importModel.orgName" disabled>
    </mat-form-field>
    <mat-form-field fxFlex=34 style="padding: 15px;">
      <mat-label> Số nhân viên đã thêm </mat-label>
      <input matInput [(ngModel)]="importModel.importData.length" disabled>
    </mat-form-field>
  </div>
  <!-- <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.sm="0px">
  </div> -->
</div>
<div mat-dialog-actions>
  <button color="primary" mat-button [mat-dialog-close]="false">OK</button>
  <!-- <button color="primary" mat-button (click)="submit()">Ok</button> -->
</div>