<div class="content-wrapper">
  <div class="page-header">
    <h5 fxFlex="70">{{ 'lblBanKH' | translate }}</h5>
    <div fxFlex>
      <div class="button-wrapper">
        <button mat-raised-button color="primary" (click)="save()" *ngIf="!isReadOnly">Hoàn thành</button>
        <button mat-raised-button color="primary" (click)="exportExcel()">Export Excel</button>
        <a mat-raised-button (click)="goBack()">Quay lại</a>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="form-wrapper">
    <!-- <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.sm="0px" *ngIf="item != null">
      <mat-form-field fxFlex="14">
        <mat-label>{{ 'lblHoTenCB' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.employeeName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex="14">
        <mat-label>{{ 'lblChucDanh' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.employeeJobTitle" disabled>
      </mat-form-field>
      <mat-form-field fxFlex="14">
        <mat-label>{{ 'lblHoTenQLTT' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.level1ManagerFullName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex="14">
        <mat-label>{{ 'lblChucDanh' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.level1ManagerJobTitle" disabled>
      </mat-form-field>
      <mat-form-field fxFlex="16">
        <mat-label>{{ 'lblPhongBan' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.organization" disabled>
      </mat-form-field>
      <mat-form-field fxFlex="16">
        <mat-label>{{ 'lblMauDG' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.criterionTypeName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex="5">
        <mat-label>Kì đánh giá</mat-label>
        <input matInput [(ngModel)]="item.kpiMonthNumber" disabled>
      </mat-form-field>
    </div>
    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.sm="0px" *ngIf="item != null">

    </div> -->

    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.sm="0px" *ngIf="item != null">
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblHoTenCB' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.employeeName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblChucDanh' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.employeeJobTitle" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblHoTenQLTT' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.level1ManagerFullName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblChucDanh' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.level1ManagerJobTitle" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblHoTenQLCT' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.level2ManagerFullName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblChucDanhQLCT' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.level2ManagerJobTitle" disabled>
      </mat-form-field>
    </div>
    <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutGap.sm="0px" *ngIf="item != null">
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblTrangThai' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.statusName" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblKyDG' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.kpiMonthNumber" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblPhongBan' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.organization" disabled>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblGhiChu' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.submitNote" disabled>
      </mat-form-field>
      <mat-form-field class="table-cell-datepicker" fxFlex=16>
        <mat-label>{{ 'lblNgayGuiNS' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="item.sentHRDate" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex=16>
        <mat-label>{{ 'lblMauDG' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.criterionTypeName" disabled>
      </mat-form-field>
    </div>
  </div>

  <label class="lb-sm">{{ 'lblBanKHNV' | translate }}</label>
  <div class="partial-table-wrapper" *ngIf="item!=null && item.taskList!=null">
    <table #taskTbl mat-table [dataSource]="item.taskList">
      <ng-container matColumnDef="STT" class="centre">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef> {{ 'colDanhMucCV' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="align-top">
          <div class="cell-wrapper">
            <textarea matInput [(ngModel)]="element.task" matTextareaAutosize class="no-scroll" [disabled]="true"></textarea>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="assignedDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'colNgayGiaoViec' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="centre">
          <mat-form-field class="table-cell-datepicker" appearance="none">
            <input matInput [matDatepicker]="picker" [(ngModel)]="element.assignedDate" [disabled]="true">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="expectation">
        <th mat-header-cell *matHeaderCellDef> {{ 'colKQDauRa' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="align-top">
          <div class="cell-wrapper">
            <textarea matInput [(ngModel)]="element.expectation" matTextareaAutosize class="no-scroll" [disabled]="true"></textarea>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> {{ 'colThoiHan' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="centre">
          {{element.deadline | date:'dd-MM-yyyy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="deadlineStr">
        <th mat-header-cell *matHeaderCellDef>{{ 'lblDeadline' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <div>
            <textarea matInput [(ngModel)]="element.deadlineStr" matTextareaAutosize class="no-scroll" disabled></textarea>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> {{ 'colTinhTrangCV' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="align-top">
          <div class="cell-wrapper">
            <textarea matInput [(ngModel)]="element.result" matTextareaAutosize class="no-scroll" [disabled]="true"></textarea>
          </div>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="files">
        <th mat-header-cell *matHeaderCellDef> {{ 'Files' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="align-top">
          <div style="padding-top: 11px">
            <app-file-uploader (afterFileChange)="afterFileChange($event, element)" [files]="element.files" [isReadonly]="true"></app-file-uploader>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="taskDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: taskDisplayedColumns;"></tr>
    </table>
  </div>

  <mat-divider class="divide-line"></mat-divider>
  <div class="button-wrapper">
    <button mat-raised-button color="warn" (click)="viewEventDiary()">{{ 'btnDanhsachSKPS' | translate }}</button>
  </div>
  <label class="lb-sm">{{ 'lblKetQuaDG' | translate }}</label>
  <div class="partial-table-wrapper">
    <table #taskCrite mat-table [dataSource]="criterionDetails">
      <ng-container matColumnDef="STT">
        <th mat-header-cell *matHeaderCellDef> {{ 'colSTT' | translate }} </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="criterionTitle">
        <th mat-header-cell *matHeaderCellDef> {{ 'colTieuChuanDG' | translate }} </th>
        <td mat-cell *matCellDef="let element">{{element.criterionTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="maximumPoint">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'colDiemChuan' | translate }}(%)
        </th>
        <td mat-cell *matCellDef="let element" class="centre">
          {{element.maximumPoint}}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeEvaluatePoint">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'lblNVDanhGia' | translate }}(%)
        </th>
        <td mat-cell *matCellDef="let element" class="centre">
          <ng-template [ngIf]="element.aggregateRow == null || element.aggregateRow == 0">
            {{element.employeeEvaluatePoint}}
          </ng-template>
          <ng-template [ngIf]="element.aggregateRow == 1">
            <!-- {{element.employeeEvaluatePoint}} -->
            {{item.empKpiPoint}}
          </ng-template>
          <ng-template [ngIf]="element.aggregateRow == 2">
            {{item.empKpiClassification}}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeEvaluateDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'colNgayDanhGia' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="centre">
          <ng-template [ngIf]="element.aggregateRow == null || element.aggregateRow == 0">
            {{element.employeeLastUpdatedDate | date:'dd/MM/yyyy'}}
          </ng-template>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="employeeEvaluateComment">
        <th mat-header-cell *matHeaderCellDef> {{ 'lblGhiChu' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="align-top">
          <ng-template [ngIf]="element.aggregateRow == null || element.aggregateRow == 0">
            {{element.employeeEvaluateComment}}
          </ng-template>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="managerEvaluatePoint">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'colDiemDanhGia' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="centre">
          <ng-template [ngIf]="element.aggregateRow == null || element.aggregateRow == 0">
            {{element.managerEvaluatePoint}}
          </ng-template>
          <ng-template [ngIf]="element.aggregateRow == 1">
            <!-- {{element.managerEvaluatePoint}} -->
            {{item.level1ManagerKpiPoint}}
          </ng-template>
          <ng-template [ngIf]="element.aggregateRow == 2">
            <!-- {{element.managerEvaluatePointChar}} -->
            {{item.level1ManagerKpiClassification}}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="managerEvaluateDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'colNgayDanhGia' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="centre">

          <ng-template [ngIf]="element.aggregateRow == null || element.aggregateRow == 0">
            {{element.managerLastUpdatedDate | date:'dd/MM/yyyy'}}
          </ng-template>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="managerEvaluateComment">
        <th mat-header-cell *matHeaderCellDef> {{ 'lblGhiChu' | translate }} </th>
        <td mat-cell *matCellDef="let element" class="align-top">
          <ng-template [ngIf]="element.aggregateRow == null || element.aggregateRow == 0">
            <div class="cell-wrapper">
              <textarea matInput [(ngModel)]="element.managerEvaluateComment" matTextareaAutosize class="no-scroll"
                autofocus disabled></textarea>
            </div>
          </ng-template>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="criterionDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: criterionDisplayedColumns;"></tr>
    </table>
  </div>

  <mat-divider></mat-divider>
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutGap.sm="0px" style="margin-top: 8px" *ngIf="item != null">
    <label class="lb-sm" fxFlex="10">{{ 'lblDeXuatGDNS' | translate }}</label>
    <div class="form-wrapper" fxFlex="90">
      <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutGap.sm="0px">
        <div flex fxLayout="column" fxLayout.lt-sm="column" fxFlex="15">
          <mat-form-field fxFlex>
            <mat-label>{{ 'colTongDiem' | translate }} KPI</mat-label>
            <input type="number" matInput [(ngModel)]="item.hrKpiPoint" disabled>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>{{ 'colXepLoai' | translate }}</mat-label>
            <input type="text" matInput [(ngModel)]="item.hrKpiPointClassification" disabled>
          </mat-form-field>
        </div>
        <mat-form-field fxFlex>
          <mat-label>Nội dung</mat-label>
          <textarea matInput matTextareaAutosize class="no-scroll" [(ngModel)]="item.hrKpiPointComment" disabled></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutGap.sm="0px" style="margin-top: 8px" *ngIf="item != null">
    <label class="lb-sm" fxFlex="10">{{ 'lblPheDuyetLanhDao' | translate }}</label>
    <div class="form-wrapper" fxFlex="90">
      <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutGap.sm="0px">
        <div flex fxLayout="column" fxLayout.lt-sm="column" fxFlex="15">
          <mat-form-field fxFlex>
            <mat-label>{{ 'colTongDiem' | translate }} KPI</mat-label>
            <input type="number" matInput [(ngModel)]="item.finalKpiPoint" (ngModelChange)="finalPointChange()" [disabled]="isReadOnly">
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>{{ 'colXepLoai' | translate }}</mat-label>
            <input type="text" matInput [(ngModel)]="item.finalKpiClassification" [disabled]="isReadOnly">
          </mat-form-field>

        </div>
        <mat-form-field fxFlex>
          <mat-label>Nội dung</mat-label>
          <textarea matInput matTextareaAutosize class="no-scroll" [(ngModel)]="item.finalKpiComment" [disabled]="isReadOnly"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="button-wrapper" style="height: 130px;">
    <button mat-raised-button color="primary" (click)="save()" *ngIf="!isReadOnly">Hoàn thành</button>
    <button mat-raised-button color="primary" (click)="exportExcel()">Export Excel</button>
    <a mat-raised-button (click)="goBack()">{{ 'btnQuayLai' | translate }}</a>
  </div>
</div>