<div class="content-wrapper">
  <div class="form-wrapper">
    <div class="page-header">
      <h5>Quản lý loại voucher</h5>
    </div>
    <div flex fxLayout="row" fxLayoutGap="50px" *ngIf="item != null" class="formRow" style="margin-top:15px;">
      <mat-form-field fxFlex="15">
        <mat-label>{{ 'MA' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.code" required>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>{{ 'lblTen' | translate }}</mat-label>
        <input matInput [(ngModel)]="item.name" required>
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Mệnh giá</mat-label>
        <input matInput [(ngModel)]="item.denominations" required>
      </mat-form-field>
    </div>
    <div flex fxLayout="row" fxLayoutGap="50px" *ngIf="item != null" class="formRow">
      <mat-form-field fxFlex="15">
        <mat-label>Thứ tự</mat-label>
        <input matInput [(ngModel)]="item.oderNumber" required>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <textarea matInput placeholder="{{ 'lblGhiChu' | translate }}" [(ngModel)]="item.description"
          rows="3"></textarea>
      </mat-form-field>
      <div fxFlex>
        <mat-checkbox [(ngModel)]="isValidate">hiệu lực</mat-checkbox>
      </div>
    </div>
    <div class="button-wrapper" style="height: 130px;">
      <button mat-raised-button color="primary" (click)="addOrEdit()">
        <mat-icon>save</mat-icon> {{ 'btnLuu' | translate }}
      </button>
      <a mat-raised-button class="back" [routerLink]="['/ev-budget/ev-type-list',page]">
        <mat-icon>arrow_back_ios</mat-icon> {{ 'btnHuy' | translate }}
      </a>
    </div>
  </div>
</div>